extends ../layout
block body
		br
		if posts
			for post in posts
				.ui.header
					a(href="/post/view?id=#{post.id}")= post.title	
					a.ui.right.floated.tiny.basic.button(href="/post/edit?id=#{post.id}") EDIT
					a.ui.right.floated.tiny.basic.button(href="/post/destroy/#{post.id}") DELETE
				.ui.divider