extends ../layout
block body
    .ui.container
        if post
            h2.ui.header
              .content !{post.title}
                .sub.header !{post.author}
            br
            span !{post.body}
        br
        hr
        br
        include ../comment/new
        if post.comments
            for comment in post.comments
                include ../comment/comment
    script.
        $(".active").removeClass("active");
        $(".postsTab").addClass("active");