extends ../layout
block body
    br
    for person in persons
        .ui.segment
            .ui.small.header=person.name
            .ui.tiny.right.floated.label=person.createdAt
            .ui.divider
            !{person.description}

    script.
        $(".active").removeClass("active");
        $("#peopleTab").addClass("active");

