.ui.comments
  .comment
    .avatar
      br
      i.fa.fa-fw.fa-2x.fa-user
    .content
      a.author=comment.author
      .metadata
        span.date 5 days ago
      .text !{comment.body}
        | 
      .actions
        a.ui.reply Reply
