extends ../layout
block body
    br
    if comments.length > 0
        for comment in comments
            .ui.segment
                .ui.small.header=comment.author
                .ui.tiny.right.floated.label=comment.createdAt
                .ui.divider
                !{comment.body}

    else
        .ui.icon.message
          i.meh.icon
          .content
            .header
              | There are no comments to view

    script.
        $(".active").removeClass("active");
        $(".commentsTab").addClass("active");

