extends layout
block body
    .ui.container
        br
        .ui.four.column.grid
            .ui.one.column.secondary.vertical.menu
              a(href="/post/all").active.item
                | All Posts
              a.item
                | Settings
              .ui.dropdown.item
                i.dropdown.icon
                |     Display Options
                .menu
                  .header Text Size
                  a.item Small
                  a.item Medium
                  a.item Large
            .ui.three.column.secondary.vertical.menu
                .ui.segment
