.ui.container
  .ui.secondary.menu
    a(href="/").item
      .ui.medium.header  Home  
      include navitems
    .right.menu
      .item
        .ui.transparent.icon.input
          input(type='text', placeholder='Search...')
          i.search.link.icon

