a.item
a(href="/post/all").active.item.postsTab
  | Posts
a(href="/comment/all").item.commentsTab
  | Comments
a(href="/person/all").item.peopleTab
  | People
a(href="/post/new").item.newPost
  | New Post